<!-- TODO: unify with actor_label.html; use granary source to_as1_actor -->
<nobr>
<a class="actor" href="">
  <img src="/oauth_dropins_static/{{ auth.site_name().lower() }}_icon.png"
       class="logo" title="{{ auth.site_name() }}" />
  <img src="{{ auth.image_url() }}" class="profile">
  <span style="unicode-bidi: isolate">{{ auth.user_display_name() }}</span>
  <!-- {% if auth.key.id() != auth.user_display_name() %} -->
  <!--   · <span class="small">{{ auth.key.id() }}</span> -->
  <!-- {% endif %} -->
</a>
</nobr>
