{% set body_id = 'accounts' %}
{% extends "base.html" %}

{% block content %}

<h1 class="row" style="text-align: center">Accounts</h1>

{% for auth in auths %}
<div class="row big">
  {% include 'account_label.html' %}
</div>
{% if not loop.last %}<hr>{% endif %}
{% endfor %}

<br>
<form action="/" method="get">
  <input type="submit" class="btn btn-default" value="Add account" />
</form>
<form action="/logout" method="post">
  <input type="submit" class="btn btn-default disable-button"
         value="Log out of all accounts" />
</form>

{% endblock content %}
