{% extends "base.html" %}

{% block content %}

<div class="row">
<p class="big">{{ 'Choose' if accounts else 'Log into' }} an account to migrate{% if body_id == 'to' %}
  {% with auth = from_auth %}{% include 'account_label.html' %}{% endwith %}
  <em>to</em>{% endif %}.</p>
<!-- {% if body_id == 'to' %} -->
<!--   <p>We'll ask for write permission so that we can migrate your follows into this account.</p> -->
<!-- {% endif %} -->
</div>

{% if accounts %}
{% for auth in accounts %}
  <div class="row big account">
    {% include 'account_label.html' %}
  </div>
{% if not loop.last %}<hr>{% endif %}
{% endfor %}

<div class="row big">
<p>...or migrate {% if body_id == 'to' %}to {% endif %}another account:</p>
</div>

{% endif %}

<div class="row big" style="font-size: 14px">
  {% if not from_proto or from_proto.LABEL != 'atproto' %}
    <p>{{ bluesky_button|safe }}
  {% endif %}
  {% if not from_proto or from_proto.LABEL != 'activitypub' %}
    <p>{{ mastodon_button|safe }}
    <p>{{ pixelfed_button|safe }}
    <!-- <p>{{ threads_button|safe }}</p> -->
  {% endif %}
</div>

{% endblock content %}
