<!-- TODO: unify with actor_label.html; use granary source to_as1_actor -->
<nobr>
{% if auth.key.id() == 'protocol-only' %}
  <img src="/oauth_dropins_static/{{ auth.site_name().lower() }}_icon.png"
       class="logo"/>
  {{ auth.site_name() }}
{% else %}
<a class="actor" href="{{ auth.url|safe }}">
  <img src="/oauth_dropins_static/{{ auth.site_name().lower() }}_icon.png"
       class="logo" title="{{ auth.site_name() }}" />
  <img src="{{ auth.image_url()|safe }}" class="profile">
  <span style="unicode-bidi: isolate">{{ auth.user_display_name() }}</span>
  <!-- {% if auth.key.id() != auth.user_display_name() %} -->
  <!--   · <span class="small">{{ auth.key.id() }}</span> -->
  <!-- {% endif %} -->
</a>
{% endif %}
</nobr>
