<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}Bounce{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="mobile-web-app-capable" content="yes"/>
<link rel="shortcut icon" sizes="128x128" href="/static/favicon.svg">
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="/static/favicon.svg">
<!-- 32x32 last so that browsers prefer it -->
<link rel="shortcut icon" sizes="32x32" href="/static/favicon.svg">
<link rel="apple-touch-icon-precomposed" sizes="32x32" href="/static/favicon.svg">
<link rel="stylesheet" href="/oauth_dropins_static/bootstrap.min.css" />
<link rel="stylesheet" href="/oauth_dropins_static/util.css" type="text/css" />
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<!-- Not async because they add DOMContentLoaded event listeners, which may
  -- happen before an async script loads. -->
<script src="/oauth_dropins_static/util.js"></script>
<meta property="og:type" content="website" />
<meta property="og:title" content="Bounce" />
<meta property="og:description" content="Bounce lets you migrate from one decentralized social network to another, keep all of your followers, and keep many of the people you follow." />
<meta property="og:url" content="{{ util.clean_url(request.url) }}" />
<meta property="og:image" content="https://bounce.anew.social/static/bounce-logotype.png" />
</head>

<body id="{{ body_id }}">
{% with messages = get_flashed_messages() %}
{% if messages %}
  <div id="messages">
  {% for message in messages %}
    <p class="message shadow">{{ message|safe }}</p>
  {% endfor %}
  </div>
{% endif %}
{% endwith %}

<main class="tp-main lead {% if body_id == 'front' %} container-fluid {% else %} container {% endif %}">

<div id="header" class="row">
  <p id="logo">
    <a href="/">
     <img id="logo-img" src="/static/logomark-light-mode.svg" />
     <span class="bigger">&nbsp;<em><b>Bounce</b></em></span>
    </a>
  </p>

  <div class="header-links">
    <a href="/docs">Docs</a> &nbsp;
    <a href="https://blog.anew.social/">Blog</a> &nbsp;
    <a href="https://github.com/snarfed/bounce">Code</a> &nbsp;
    <a href="https://github.com/snarfed/bounce/issues">Issues</a>
    &nbsp; | &nbsp;
    {% if auths %}
      <a id="logins" href="/from">
      {% for auth in auths %}  {# oauth-dropins auth entities #}
        <nobr title="{{ auth.site_name() }}: {{ auth.user_display_name() }}">
          <img class="profile" src="{{ auth.image_url()|safe }}" />
          <img class="provider" width="24"
               src="/oauth_dropins_static/{{ auth.site_name().lower() }}_icon.png" />
        </nobr>
      {% endfor %}
      </a>

      <span class="divider">|</span>

      <form action="/logout" method="post">
        <input type="submit" class="btn-link" value="Logout" />
      </form>

    {% else %}
      <a href="/from">Login</a>

    {% endif %}
  </div>
</div>

{% if body_id != 'front' %}
<div class="row warning">
<p><strong>WARNING:</strong> Bounce is still in beta testing. Expect bugs and rough edges. Don't use it with any accounts you depend on! (Yet.)</p>
</div>
{% endif %}

{% block content %}
{% endblock %}

<div id="footer" class="row">
  <p class="header-links">
    <a href="/docs">Docs</a> &nbsp;
    <a href="https://blog.anew.social/">Blog</a> &nbsp;
    <a href="https://github.com/snarfed/bounce">Code</a> &nbsp;
    <a href="https://github.com/snarfed/bounce/issues">Issues</a>
  </p>
</div>

</main>

</body>
</html>
