{% set body_id = 'bluesky-password' %}
{% extends "base.html" %}

{% block content %}

<div class="row big">
  Creating a new account on
  <img src="/oauth_dropins_static/bluesky_icon.png" class="logo" title="Bluesky">
  {{ util.pretty_link(pds)|safe }}...
</div>

<div class="row">
  <p>Please enter an email address, password, etc. for your new account.
</div>

<div class="row">
  <form action="/bluesky-create-account" method="post">
    <input type="hidden" name="from" value="{{ from_auth.key.urlsafe().decode() }}" />
    <input type="hidden" name="pds" value="{{ pds }}" />

    <input type="hidden" name="show_handle" value="{{ show_handle }}" />
    {% if show_handle.lower() == 'true' %}
    <p>
    <input type="text" name="handle" required maxlength="20"
           placeholder="handle (only a-z, 0-9, and -)" value="{{ handle }}"
           pattern="[a-z][a-z0-9\-]*" />{{ handle_domain }}
    <input type="hidden" name="handle_domain" value="{{ handle_domain }}" />
    {% endif %}

    <p>
    <input type="email" name="email" required placeholder="email" value="{{ email }}"/>
    <input type="password" name="password" required placeholder="password"
           value="{{ password }}" />
    <p>
    <input type="hidden" name="show_invite_code" value="{{ show_invite_code }}" />
    {% if show_invite_code.lower() == 'true' %}
      <input type="text" name="invite_code" required placeholder="invite code"
             value="{{ invite_code }}" />
    {% endif %}
    <input type="hidden" name="show_phone_verification_code"
           value="{{ show_phone_verification_code }}" />
    {% if show_phone_verification_code.lower() == 'true' %}
      <input type="text" name="phone_verification_code" required
             placeholder="phone verification code"
             value="{{ phone_verification_code }}" />
    {% endif %}
    <p>
    <input type="submit" class="btn btn-default" value="Next" />
  </form>
</div>

{% endblock content %}
