{% set body_id = 'bluesky-password' %}
{% extends "base.html" %}

{% block content %}

{% set from_label %}
  {% with auth = from_auth %}{% include 'account_label.html' %}{% endwith %}
{% endset %}
{% set to_label %}
  {% with auth = to_auth %}{% include 'account_label.html' %}{% endwith %}
{% endset %}

<div class="row big">
  <p>Migrating {{ from_label }} to {{ to_label }}...
</div>

<div class="row">
  <p>Please enter your Bluesky password for {{ from_label }}. We'll use it to ask for a security code to migrate your account</a>.
</div>

<div class="row">
  <form action="/confirm" method="post">
    <input type="password" name="password" placeholder="password" />
    <input type="hidden" name="from" value="{{ from_auth.key.urlsafe().decode() }}" />
    <input type="hidden" name="to" value="{{ to_auth.key.urlsafe().decode() }}" />
    <input type="submit" class="btn btn-default" value="Next" />
  </form>
</div>

{% endblock content %}
