{% set body_id = 'choose-to-account' %}
{% extends "base.html" %}

{% block content %}

<div class="row">
<p class="big">Choose an account to migrate to.</p>
<p>We'll ask for write permission so that we can migrate your follows into this account.</p>
</div>

{% if auths %}
<form>
{% for auth in auths %}
<div class="row big account">
  {% include 'account_label.html' %}
</div>
{% if not loop.last %}<hr>{% endif %}
{% endfor %}

<div class="row big">
<p>...or migrate to another account:</p>
</div>

{% endif %}

<div class="row big" style="font-size: 14px">
  <p>{{ bluesky_button|safe }}</p>
  <p>{{ mastodon_button|safe }}</p>
  <p>{{ pixelfed_button|safe }}</p>
  <!-- <p>{{ threads_button|safe }}</p> -->
</div>


{% endblock content %}
