{% set body_id = 'migrate-confirm' %}
{% extends "base.html" %}

{% block content %}

{% set from_label %}
  {% with auth = from_auth %}{% include 'account_label.html' %}{% endwith %}
{% endset %}

{% set to_label %}
  {% with auth = to_auth %}{% include 'account_label.html' %}{% endwith %}
{% endset %}

<div class="row big">
<p>Migrate {{ from_label }} to {{ to_label }}?</p>
</div>

<div class="row" style="text-align: left">
<ul>
<li>{{ to_label }} will be <a href="https://fed.brid.gy/docs">bridged</a> back into {{ from_auth.site_name() }} as {{ from_label }}.
<li>Your followers on {{ from_auth.site_name() }} will all continue to follow {{ from_label }} and see your posts.
<li>{{ to_label }} will follow the accounts {{ from_label }} follows that are bridged.
<ul>
</div>


<form action="/migrate" method="post">
<div class="row">
  {% if from_auth.site_name() == 'Bluesky' %}
    <p>We've asked Bluesky to email you a confirmation code. Please enter that code here.
    <p><input required type="text" name="plc_code" id="plc_code"
           placeholder="A1B2C-D3E4F" />
  {% endif %}

  <input type="hidden" name="from" value="{{ from_auth.key.urlsafe().decode() }}" />
  <input type="hidden" name="to" value="{{ to_auth.key.urlsafe().decode() }}" />
  <input type="submit" class="btn btn-danger" value="Migrate" disabled />

  {% if from_auth.site_name() == 'Bluesky' %}
    <p><a href="/bluesky-password?from_auth={{ from_auth.key.urlsafe().decode() }}&to_auth={{ to_auth.key.urlsafe().decode() }}">Click here to send a new code.</a>
  {% endif %}
</div>
</form>

{% endblock content %}
