{% set body_id = 'migrate-confirm' %}
{% extends "base.html" %}

{% block content %}

{% set from_label %}
  {% with auth = from_auth %}{% include 'account_label.html' %}{% endwith %}
{% endset %}

{% set to_label %}
  {% with auth = to_auth %}{% include 'account_label.html' %}{% endwith %}
{% endset %}

<div class="row big">
<p>Migrate {{ from_label }} to {{ to_label }}?</p>
</div>

<div class="row" style="text-align: left">
<ul>
<li>{{ to_label }} will be <a href="https://fed.brid.gy/docs">bridged</a> back into {{ from_auth.site_name() }} as {{ from_label }}.
<li>Your followers on {{ from_auth.site_name() }} will all continue to follow {{ from_label }} and see your posts.
<li>{{ to_label }} will follow the accounts {{ from_label }} follows that are bridged.
<ul>
</div>

<form action="/migrate" method="post">
{% if from_auth.site_name() == 'Bluesky' %}
<div class="row" style="text-align: left">
  <p>
    We've asked Bluesky to email you a security code to migrate your account's PDS. Please enter that code here.
    <button form="resend" value="Resend code" />
  </p>
  <input required type="text" name="plc-code" id="plc-code" />
</div>
{% endif %}

<div class="row big">
  <input type="submit" class="btn btn-success" value="Migrate" />
</div>
</form>

<form id="resend" action="/confirm" method="post">
  <input type="hidden" name="resend" />
  <input type="hidden" name="from_auth" value="{{ from_auth.key.urlsafe() }}" />
  <input type="hidden" name="to_auth" value="{{ to_auth.key.urlsafe() }}" />
</form>


{% endblock content %}
