{% extends "base.html" %}

{% block content %}

<ul class="docs">

<p><em>About</em></p>
<li><a href="#what">What is this?</a></li>
<li><a href="#which-networks">Which networks are supported?</a></li>
<li><a href="#what-migrated">What gets migrated, exactly?</a></li>
<li><a href="#how">How does it work?</a></li>

<br>
<p><em>Using</em></p>
<li><a href="#use-old">Can I still use my old account after I migrate?</a></li>
<li><a href="#multiple">Can I migrate to or from an account more than once?</a></li>
<li><a href="#see-followers">After I migrate, why don't I see the new followers on my account?</a></li>
<li><a href="#what-break">What will break if I do this?</a></li>
<!-- <li><a href=""></a></li> -->

<br>
<p><em>Background</em></p>
<li><a href="#who">Who are you?</a></li>
<li><a href="#cost">How much does it cost? Can I donate or support you?</a></li>
<li><a href="#terms">What are the terms of service?</a></li>
<li><a href="#bug">I found a bug! I have a feature request!</a></li>
<li><a href="#vulnerability">I found a security vulnerability!</a></li>

</ul>

<br>

<ul class="docs">

<h3 id="about">About</h3>

<li id="what" class="question">What is this?</li>
<li class="answer">
<p>Bounce is an open social web migration tool. It lets you migrate your account from one decentralized social network to another, and still keep all of your followers, along with some of the people you follow.
</li>


<li id="which-networks" class="question">Which networks are supported?</li>
<li class="answer">
<p>Bounce currently supports migrating from <a href="https://bsky.social/">Bluesky</a> to <a href="https://joinmastodon.org/">Mastodon</a> or <a href="https://pixelfed.org/">Pixelfed</a>. We hope to add support for the reverse direction, <a href="https://www.threads.com/">Threads</a>, <a href="https://micro.blog/">micro.blog</a>, and more in the future.
</li>


<li id="what-migrated" class="question">What gets migrated, exactly?</li>
<li class="answer">
<p>Right now, only your profile, followers, and some follows. The existing posts on the accounts you migrate from and to will stay the same; only new posts going forward will get bridged back to the old account.
<p>We hope to add support for migrating posts, likes, blocks, and other data eventually!
</li>


<li id="how" class="question">How does it work?</li>
<li class="answer">
<p>When Bounce migrates you, it uses <a href="https://fed.brid.gy/">Bridgy Fed</a> to bridge your new account back to your old network so that your followers there can still see you and your posts.
<p>For your follows, ie the people <em>you</em> follow, Bounce uses Bridgy Fed to detect which of them are already in your new network and following you over the bridge, and which are in your old network but are themselves bridged into the new one. It then reconnects all of those follows so that you still see and follow them after you migrate.
<p>Under the covers, Bounce uses each network's built in support for account migration, eg <a href="https://activitypub.rocks/">ActivityPub</a>'s <a href="https://docs.joinmastodon.org/spec/activitypub/#Move"><code>Move</code></a> activity for the fediverse, and <a href="https://atproto.com/">AT Protocol</a>'s <a href="https://atproto.com/guides/account-migration">account migration</a> for Bluesky. Bounce migrates your old account into Bridgy Fed, so that it becomes a bridged version of your new account that's fully owned and managed by Bridgy Fed.
</li>


<br>
<h3 id="using">Using</h3>

<li id="use-old" class="question">Can I still use my old account after I migrate?</li>
<li class="answer">
<p>Sorry, no. After you migrate, your old account will generally be either disabled or <a href="https://fed.brid.gy/docs#use-like-normal">fully managed by Bridgy Fed</a>. You won't be able to log into it and use it directly yourself.
</li>


<li id="multiple" class="question">Can I migrate to or from an account more than once?</li>
<li class="answer">
<p>Sometimes! It depends.
<p>For migrating from Bluesky to the fediverse, you can only migrate a given Bluesky account once. You can migrate multiple Bluesky accounts to the same fediverse account, but each time you do, the latest Bluesky account will overide the previous one. Only the latest Bluesky account's followers will be kept, and your fediverse posts will only bridge to that account.
</li>


<li id="who" class="question">Who are you? Why did you make this?</li>
<li class="answer">
<p>We're <a href="https://quillmatiq.com/">Anuj Ahooja</a> and <a href="https://snarfed.org/">Ryan Barrett</a>. We make up <a href="https://www.anew.social/">A New Social</a>, the non-profit that builds and runs Bounce. We love the open social web, and we hope that Bounce can help <a href="https://www.anew.social/hello-social-web/">liberate people from their platforms</a> and enable <a href="https://www.augment.ink/bridges-the-last-network-effect/">the last network effect</a>.
</li>


<li><a href="#"></a></li>
<li id="see-followers" class="question">After I migrate, why don't I see the new followers on my account?</li>
<p>Don't worry, your old followers still see all of your posts!
<p>If you're migrating to the fediverse, we don't currently send <code>Move</code> activities for your old followers, so they won't appear in your fediverse followers list. <a href="https://github.com/snarfed/bounce/issues/49">We hope to add this in the future!</a> It would only include followers who are bridged to the fediverse, and it would be a bit of a notification flood, but it's still a good idea.
</li>

<li id="what-break" class="question">What could break if I do this?</li>
<li class="answer">
<p>If you're migrating from Bluesky to the fediverse:
<ul>
<li>If your Mastodon or Pixelfed account is already bridged, we will need to replace its bridged Bluesky account with the Bluesky account that you're migrating from. Unlike ActivityPub, AT Protocol can't "merge" two different account's followers. We're considering options to notify your old Bluesky followers about the change; stay tuned for more details.
<li>The images and videos on your Bluesky account will stay visible <em>if</em> your account is on a PDS (server) that Bluesky themselves run. We currently don't migrate blobs (ie images and videos) from federated third party PDSes, so if you migrate an account from one of those, its images and videos will disappear after a few days.
</ul>
</li>


<br>
<h3 id="background">Background</h3>

<li id="cost" class="question">How much does it cost? Can I donate or support you?</li>
<li class="answer">
<p>Bounce is entirely free to use, but it's not cheap to build, so <a href="https://www.patreon.com/c/ANewSocial">we welcome donations on Patreon</a>!
<p>If you can't afford to donate, but you still want to contribute, feel free to <a href="https://github.com/snarfed/bounce/issues">file an issue</a>, <a href="https://github.com/snarfed/bounce">send a pull request</a>, or tell your friends to try it.
</li>


<li id="privacy" class="question">What do you do with my data?</li>
<li class="answer">
<p>Nothing! Bounce isn't a business, and never will be, so we don't have the same motivations to abuse your data that other services might. More concretely, we don't sell or otherwise expose any of your data to third parties, even in aggregate.
</li>


<li id="terms" class="question">What are the terms of service?</li>
<li class="answer">
<p>Bounce's terms of service are simple. You agree not to deliberately attack, breach, or otherwise harm the service. If you manage to access private keys or other sensitive data, you agree to <a href="#vulnerability">report the vulnerability</a> and not use or disclose that data.
<p>Otherwise, you may use the service for any purpose you see fit. However, we may terminate or block your access for any reason, or no reason at all. (We've never done this, and we expect we never will. Just playing it safe.)
<p>Do you an administer an instance or other service that Bounce interacts with? If you have any concerns or questions, feel free to <a href="https://github.com/snarfed/bounce/issues">file an issue</a> or <a href="mailto:letsbuild@anew.social">email us</a>.
</li>


<li id="bug" class="question">I found a bug! I have a feature request!</li>
<li class="answer">
<p>Great! Please <a href="https://github.com/snarfed/bounce/issues">file it in GitHub</a>. Thank you!
</li>


<li id="vulnerability" class="question">I found a security vulnerability!</li>
<li class="answer">
<p>Oof. Thank you for reporting it! Please <a href="https://github.com/snarfed/bounce/security/advisories">file an advisory on GitHub</a>. We may provide monetary awards for reports of significant vulnerabilities, eg reading or modifying users' private keys, <em>if</em> you follow these rules:
<ul>
<li>Vulnerabilities must be in the application itself, not unrelated services like email (eg SPF/DKIM/DMARC).</li>
<li>Public user data is intentionally public. That's not a vulnerability.</li>
<li>No automated fuzzing, DoSes, or other high volume traffic. We block this traffic, and it will disqualify you from any possible award.</li>
</ul>
<p>Otherwise, <a href="https://github.com/snarfed/bounce/">the code is open source</a>, feel free to try to break in, let us know if you succeed!
</li>

</ul>

{% endblock %}
