{% extends "base.html" %}

{% block content %}

<div id="docs">

<p>Bounce is...</p>

<p><a href="/docs#get-started">Click here to get started</a>, or read on for more information and setup details.</p>

<br>

<ul class="docs">

<p><em>About</em></p>
<li><a href="#which-networks">Which networks are supported?</a></li>

</ul>

<ul class="docs">

<br>

<h3 id="about">About</h3>

<li id="which-networks" class="question">Which networks are supported?</li>
<li class="answer">
<p>Bounce currently supports <a href="https://indieweb.org/">the web</a>, <a href="https://en.wikipedia.org/wiki/Fediverse">fediverse</a>, and <a href="https://bsky.social/">Bluesky</a>.</p>
</li>

</ul>
</div>

{% endblock %}
