{% set body_id = 'review' %}
{% extends "base.html" %}

{% block content %}

<div class="row big">
<h1>Review</h1>
<p>{% include 'account_label.html' %}</p>
</div>

<div class="row">
  <div class="actors col-md-6 col-sm-12">
    <h2>Followers</h2>
    <ul>
      {% for actor in followers %}
        <li> {% include 'actor_label.html' %}
      {% endfor %}
    </ul>
  </div>

  <div class="actors col-md-6 col-sm-12">
    <h2>Follows</h2>
    <ul>
      {% for actor in follows %}
        <li> {% include 'actor_label.html' %}
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock content %}
