{% set body_id = 'review' %}
{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawCharts);

  function drawCharts() {
    var opts = {
      chartArea: {
        // top: '12%',
        // width: '75%',
        // height: '75%',
      },
      legend: {
        position: 'top',
        alignment: 'center',
        maxLines: 2,
      },
      // pieHole: 0.5,
    };

    var chart = new google.visualization.PieChart(
      document.getElementById('followers-chart'));
    chart.draw(google.visualization.arrayToDataTable({{ follower_counts|tojson }}), opts);

    const unbridgedSlice = {{ follow_counts|length }} - 2;
    opts.slices = {}
    opts.slices[unbridgedSlice] = {
      offset: 0.2,
      color: 'gray',
    };
    chart = new google.visualization.PieChart(
      document.getElementById('follows-chart'));
    chart.draw(google.visualization.arrayToDataTable({{ follow_counts|tojson }}), opts);
  }
</script>

<div class="row big">
<p>When you migrate
   {% with auth = from_auth %}{% include 'account_label.html' %}{% endwith %} to
   {% with auth = to_auth %}{% include 'account_label.html' %}{% endwith %} ...</p>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <h3>You'll keep <em>all</em> of your {{ total_followers }} followers.</h3>
    <div id="followers-chart"></div>
    <ul class="actors">
      {% for actor_html in followers_preview %}
        <li>{{ actor_html|safe }}
      {% endfor %}
      {% if followers|length > 20 %}
        <li>...
      {% endif %}
    </ul>
  </div>

  <div class="col-md-6 col-sm-12">
    <h3>You'll keep <em>{{ keep_follows_pct }}%</em> of your {{ total_follows }} follows.</h3>
    <div id="follows-chart"></div>
    <ul class="actors">
      {% for actor_html in follows_preview %}
        <li>{{ actor_html|safe }}
      {% endfor %}
      {% if follows|length > 20 %}
        <li>...
      {% endif %}
    </ul>
  </div>
</div>

<div class="row big" style="text-align: center">
  <form action="/{{ 'bluesky-password' if from_auth.site_name() == 'Bluesky' else 'confirm' }}" method="get">
    <input type="hidden" name="from" value="{{ from_auth.key.urlsafe().decode() }}" />
    <input type="hidden" name="to" value="{{ to_auth.key.urlsafe().decode() }}" />
    <input type="submit" class="btn btn-default" value="Next" />
  </form>
</div>

{% endblock content %}
